
 body {
    background-color: cadetblue;
    font-family:'Wendy One', sans-serif;
    font-display: center;
    background-image: url(/images/20181227_155138.jpg)

  }

  h1 {
    position: relative;
    text-emphasis: none;
    text-align: center;
  }
 /*media */
 @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }


    /* media query*/
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
   
        
